# Ambientes Virtuais
venv/
env/
__pycache__/
*.pyc

# Arquivos de Banco de Dados 
*.db
*.sqlite3
data/*.db

# Arquivos de Build e Executáveis 
build/
dist/
*.spec
*.exe

# Arquivos de Sistema
.DS_Store
